@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./1773977.jpg');
    @apply bg-no-repeat bg-cover  bg-center;
}

#content .body {
    @apply flex justify-center h-screen;
}

.info {
    @apply w-8/12 sm:w-3/12 h-2/5 border border-slate-50 grid justify-items-center items-center
    rounded-xl bg-slate-900/50 text-slate-50 shadow-md shadow-slate-100 mt-20 sm:mt-24;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
}

.info .infoRow {
    @apply grid grid-cols-2 grid-rows-1 items-center;
}

.info .infoRow img {
    height: 100%;
}

.info .city {
    @apply font-bold text-2xl;
}

.info .infoRow .temp {
    @apply text-3xl;
}

header {
    @apply bg-slate-900 flex items-center h-24 max-[640px]:justify-around sm:px-7;
}

header img {
    @apply h-16 max-[640px]:w-14 max-[640px]:h-12 sm:mr-auto;
}

header .search {
    @apply max-[640px]:w-52;
}

header .search button {
    @apply max-[640px]:w-14 max-[640px]:px-0;
}

header #headerTemp {
    @apply text-xl max-[640px]:mr-1;
}

header #togglebtn {
    @apply sm:mr-12;
}

#content .error {
    @apply w-full h-6 pr-3 sm:pr-7 text-right text-white font-black;
}

header>a {
    @apply sm:mr-auto  max-[640px]:mr-1;
}
